<div class="mpinHeader">
    <div class="mpinLogo"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinIdentityRow">
	<div class="mpinIdentity mpLeft20 mpBrowserTop" id="mpinUser">
		<div id="mpinCurrentIden" class="mpinIdentityRowInner">
			{{txt "activate_header2"}}
		</div>
	</div>
</div>

<div class="mpinMain mpPaddTop10">
	<div class="mpinCenter mpinCenter5">
		{{txt "activate_text_new1"}}
		
		<p class="mpIdentityBrowser mpStripTxt">
			{{ data.email }}
		</p>
		
		<p class="mpinInfoText">
			{{txt "activate_text_new2"}}
		</p>
    </div>
	
	<div class="mpinBtnBox mpinBtnDown">
		<div class="mpinButton mpinBtnClick mpinButtonDark" id="mpin_activate">
			{{txt "activate_btn_new1"}}
		</div>
		<div class="mpinButton mpinBtnClick mpinBtnBack" id="mpin_resend">
			{{txt "activate_btn_new2"}}
		</div>
		<div class="mpinButton mpinBtnClick mpinBtnBack" id="mpin_accounts_btn">
			{{txt "setupNotReady_button_back"}}
		</div>
	</div>
</div>

<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub"></div>
</div>