<div class="mpinCurrentIdentity mp10Padd">
	{{txt "settings_title2"}}
</div>

<div class="mpinLists mpNoHeight">
	<ul id="mpin_accounts_list">
		<li class="mpinRow mpinRowActive">
			<div class="mpinSettingsRow mpVerCenter" title="{{ data.name }}" alt="{{ data.name }}">
				{{ data.name }}
			</div>
		</li>
	</ul>
</div>

<div class="mpinMain">
	<div class="mpinCenter mpinCenter5">
		{{txt "account_delete_question"}}
	</div>
	

	<div class="mpinBtnBox">
		<div class="mpinButton mpinWarnBtn mpinBtnClick" id="mpin_deluser_btn">
			{{txt "account_delete_button2"}}
		</div>

		<div class="mpinButton mpinBtnClick" id="mpin_cancel_btn">
			{{txt "account_button_cancel2"}}
		</div>
	</div>
</div>

