<div id="header">
    <div id="mpinLogo"></div>
</div> 

<div class="mpinTabMiddle clrBlue mpinBtm10">
	<div>
		{{txt "mobile_header_txt1"}}
		<span class="mpinColorRed">{{txt "mobile_header_do"}}</span>
		{{txt "mobile_header_txt3"}}
	</div>
	<div>
		<div id="homeIcon">
			<div id="desktopIcon"></div>
		</div>
	</div>
</div>

<div id="buttonsContainer">
	<div class="mpinBtn mpinBtm10">
		<span class="iconArrow"></span>
		<span class="btnLabel btnLabelArrow">{{txt "signin_btn_desktop1"}}</span>
	</div>

	<div class="mpinBtn mpinBtm10">
		<span class="iconArrow"></span>
		<span class="btnLabel btnLabelArrow">{{txt "signin_btn_desktop2"}}</span>
	</div>
	
	<div class="mpinWhiteGrBtn mpinBtm10" id="mpin_mobile">
		{{txt "mobile_header_txt1"}}
		<span class="mpinColorRed">{{txt "mobile_header_donot"}}</span>
		{{txt "mobile_header_txt3"}}
	</div>
	
</div>

<div id="mpinFooter">
	<a href="#" class="mpinHelpHub"></a>
    <div id="homeBtn">
    </div>
</div>