<div class="mpinHeader mpMobileColor">
    <div class="mpinLogo"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinHeaderRow mpMobColor mpHeaderRowThin">
	{{txt "mobileConfig_header"}}
</div>

<div class="mpinMain mpNoHeight ">
	<div class="mpinCenter mpinCenter5">
		
		<span id="mpin_qrcode">
		</span>

		<p class="mpinJustifyTxt">
			{{txt "mobileConfig_text"}}
		</p>
		<span class="mpinPurple mpWrapped mpAreaFixed">
			<a href="#" title='{{txt "mobileConfig_link"}}' id="mpin_mobile_app">{{txt "mobileConfig_link"}}</a> 
		</span>
	</div>
	
		<div class="mpinBtnBox mpBtnThin">

			<div class="mpinButton mpinMobileBtn mpinBtnClick" id="mpinbtn_mobile">
				{{txt "mobile_footer_btn2"}}
			</div>
		</div>
	
</div>


<div class="mpinFooter mpMobileFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub"></div>
</div>