<div class="mpinHeader mpMobileColor">
    <div class="mpinLogo"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinHeaderRow mpMobColor mpHeaderRowThin">
	{{txt "mobileGet_header2"}}
</div>

<div class="mpinMain mpNoHeight ">

	<div class="mpinCenter mpinCenter30" id="appLinks">

		<div>
			<a href="https://itunes.apple.com/us/app/certivox-m-pin/id972088129?mt=8"><img src="{{img "ios-appstore.svg"}}" alt=""></a>
		</div>
		
		<div>
			<a href="https://play.google.com/store/apps/details?id=com.certivox.mpinsdk">
				<img src="{{img "en_generic_rgb_wo_45.png"}}" alt="Get it on Google Play">
			</a>
		</div>

		<div>
			<a href="https://www.microsoft.com/store/apps/9nblggh1mxwd?ocid=badge">
				<img src="{{img "win-phone.png"}}" alt="Get it from Microsoft" height="40px">
			</a>
		</div>
	</div>
	
	<div class="mpinBtnBox mpBtnThin mpinBtnDown mpButton10">
		<div class="mpinButton mpinMobileBtn mpinBtnClick" id="mpinbtn_mobile">
			{{data.mobileButtonText}}
		</div>
	</div>
	
</div>


<div class="mpinFooter mpMobileFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub"></div>
</div>
