<div class="mpinHeader">
    <div class="mpinLogo"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinIdentityRow">
	<div class="mpinIdentity mpLeft20 mpBrowserTop" id="mpinUser">
		<div id="mpinCurrentIden" class="mpinIdentityRowInner">
			{{txt "revoke_header_text"}}
		</div>
	</div>
</div>

<div class="mpinMain mpPaddTop10">
	<div class="mpinCenter mpinCenter5">
		{{txt "revoke_text1"}} 
		<br><br>
		{{txt "revoke_text2"}}
		<p class="mpIdentityBrowser mpStripTxt">
			{{ data.userId }}
		</p>
		<p class="mpinInfoText">
			{{txt "revoke_text3"}}
		</p>
    </div>
	
	<div class="mpinBtnBox mpinBtnDown">
		<div class="mpinButton mpinButtonDark mpinBtnClick" id="mp_action_go">
			{{txt "deactivated_button_register2"}}
		</div>
		<div class="mpinButton mpinBtnClick mpinBtnBack" id="mpin_accounts_btn">
			{{txt "deactivated_button_back"}}
		</div>
	</div>
</div>

<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub"></div>
</div>