<div class="mpinHeader">
    <div class="mpinLogo"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinHeaderRow">
	{{txt "setupDone_header"}}
</div>

<div class="mpinMain mpPaddTop10">
	
	<div class="mpinCenter mpinCenter5">
		{{txt "setupDone_text1"}}
		
		<p class="mpinIdentityTextSm mpStripTxt">
			{{ data.userId }}
		</p>
		
			{{txt "setupDone_text2"}}
		<p>
			{{txt "setupDone_text3"}}
		</p>
    </div>
	
	<div class="mpinBtnBox mpinBtnDown">
		<div class="mpinButton mpinButtonDark mpinBtnClick" id="mpin_login_now">
			{{txt "setupDone_button_go2"}}
		</div>
	</div>

</div>

<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub"></div>
</div>