<div id="identityContainer">

  <div class="identityMainText">
    <div class="mp_container">
        <div id="mp_accountContent" class="mp_content">{{hlp 'edit_identity'}} {{data.name}}</div>
    </div>
  </div>

  <div id="buttonsContainer">

      <div class="mpinBtn white" id="mp_acclist_cancel">
            <span class="btnLabel">{{hlp 'account_button_backToList'}}</span>
      </div>

      <div class="mpinBtn white" id="mp_reactivate">
            <span class="btnLabel">{{hlp 'account_button_reactivate'}}</span>
      </div>

      <div class="mpinBtn danger" id="mp_deluser">
            <span class="btnLabel">{{hlp 'account_button_delete'}}</span>
      </div>

  </div>

</div>

<footer id="mpinFooter">
    <div id="homeBtn">
    </div>
</footer>